# Logo — proprietary, not covered by the MIT licence
assets/gp-logo.png
assets/gp-logo-2x.png

node_modules/
dist/
storybook-static/
coverage/
temp/
test-timings.json
*.tsbuildinfo
.DS_Store
debug-storybook.log
.claude
